api_url: "http://my.teamcityserver/httpAuth/app/rest/"
http_user: "admin"
http_password: "correct horse battery staple"
repositories:
  teamcity_swaggest_repo_ever: ATeamCityBuildTypeId
  teamcity_also_pretty_swag: AnotherTeamCityBuildTypeId
