<% content_for :title do %>My super swag dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="github_milestone_some_project" data-view="Milestone" data-unordered="true" data-title="Some Project"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="github_milestone_other_project" data-view="Milestone" data-unordered="true" data-title="Other Project"></div>
    </li>
  </ul>
</div>
