<% content_for :title do %>My super swag dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="teamcity_swaggest_repo_ever" data-view="TeamCity" data-unordered="true" data-title="SWAG"></div>
    </li>

    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="teamcity_also_pretty_swag" data-view="TeamCity" data-unordered="true" data-title="ALSO PRETTY SWAG"></div>
    </li>
  </ul>
</div>
